<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="edu.cnm.deepdive.trailmaster">

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".TrailApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">
    <activity android:name=".ui.Activity18">
    </activity>
    <activity android:name=".ui.Activity17">
    </activity>
    <activity android:name=".ui.Activity16">
    </activity>
    <activity android:name=".ui.Activity15">
    </activity>
    <activity android:name=".ui.Activity14">
    </activity>
    <activity android:name=".ui.CampEssentialsInfo">
    </activity>
    <activity android:name=".ui.ElephantRockInfo">
    </activity>
    <activity android:name=".ui.ColumbineInfo">
    </activity>
    <activity android:name=".ui.ClearCreekInfo">
    </activity>
    <activity android:name=".ui.BlackCanyonInfo">
    </activity>
    <activity android:name=".ui.JemezInfo">
    </activity>
    <activity android:name=".controller.BulletinBoard">
    </activity>
    <activity android:name=".controller.StockCampsites">
    </activity>
    <activity android:name=".controller.StockTrails">
    </activity>
    <activity android:name=".controller.CommunityOptionsMenu">
    </activity>
    <activity android:name=".ui.CampOptionsMenu">
    </activity>
    <activity android:name=".ui.TrailOptionsMenu">
    </activity>
    <activity
      android:label="@string/app_name"
      android:name=".controller.MainActivity">
    </activity>
    <activity android:name=".controller.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <uses-permission android:name="android.permission.INTERNET"/>

</manifest>